@charset "UTF-8";

@import "fonts";

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/


// OVERALL

svg path {
  fill: inherit;
  stroke:inherit;
  stroke-width:inherit;
  }

.container {
  max-width: 1236px;
  margin: 0 auto;
  padding: 0px 15px;
}

body._lock  {
  overflow: hidden;
}

// HEADER

.header__burger-menu {
  display: flex;
  padding-top: 12px;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  padding-right: 73px;
}
.header__list {
  display: flex;
  align-items: center;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #697CA6;
  text-shadow: 0px 0px 5px #E6E6E6;
}
.header__list a:hover{
  transition: all .3s ease;
  color: #5E81FE;
}
.header__list a:active{
  color: #4963c0;
}
.header__list-block {
  display: flex;
  padding: 4px 0px 13px 0px;
}
.header__list-point{
  padding-left: 42px;
}
.header__list-point:first-child{
  padding-left: 0px;
}
.header__social {
  padding-bottom: 14px;
  a {
  padding-right: 40px;
  }

} 
.header__social {
  img {
  vertical-align: middle;
  }
}
.header__social-button { 
  font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 16px;
color: #3A79FF;
  padding: 13px 19px 13px 21px;
  background: #D2E1FF;
border-radius: 2px;
transition: all .3s ease;
}
.header__social-button:hover{
  color: #c5d7ff;
  background: #4382ff;
}
.header__social-button:active{
  color: #4781ff;
  background: #9db9f1;
}


// INTRO

.intro {
  background: url('../img/intro-back.svg') center no-repeat;
  background-size: auto 100%;
  max-width: 100%;
  max-height: 100%;

} 

.intro__wrapper {
  text-align: center;
  max-width: 100%;
  max-height: 100%;

}
.intro__suptittle {
padding: 92px 0px 16px;
}

.sup{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3D4F9F;
}

.intro__tittle {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 60px;
  color: #3D4F9F;
text-shadow: 1px 0 1px #000, 
0 1px 1px #000, 
-1px 0 1px #000, 
0 -1px 1px #000;
padding-bottom: 28px;
}

.intro__play{
  padding-bottom: 212px;
}

.tit {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
}

.intro__subtittle {
max-width: 502px;
margin: 0 auto;
}

.sub{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #8D96BD;
}

//BRANDS


.brands-wrapper {
  text-align: center;
  padding: 62px 0px 61px;
  svg{
    margin-left: 76px;
  }
  svg:first-child{
    margin-left: 0px;
  }
}
.brands__icon {
  fill: #D6DAE5;
  transition: all .5s ease;
}

.brands__icon:hover {
  fill: #5982E7;
}

// PLAN

.plan {
  background: #F5F8FF;
  border: 1px solid #D8E3FE;
}
.right__container {
  margin: 0 auto;
  max-width: 1241px;
  margin-right: 1px;
  padding: 0px 15px;
}
.plan__wrapper {
  display: flex;
}
.plan__body{
  padding-right: 40px;
}

.plan__suptittle {
  padding: 208px 0px 27px;
}

.plan__tittle {
  padding-bottom: 27px;
}

.plan__subtittle {
  padding-bottom: 47px;
  max-width: 413px;
}

.plan__buttons{
  padding-bottom: 170px;
}

.plan__button {
  font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 16px;
color: #ADB4D2;
position: relative;
transition: all .4s ease;
}
.blue {
  padding: 13px 37px 13px 25px;
}
.white {
  padding: 13px 21px;
}

.plan__button:hover{
  font-weight: 700;
  color: white;
  background: #4C85FF;
  box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
}

.plan__button:active{
  color: rgb(155, 155, 155);
  background: #93b5ff;
}

.plan__button.blue:hover::after{
  content: "";
  position: absolute;
  width: 20px;
  height: 11px;
  top: 16px;
  left: 90px;
  background: url(../img/plan-button.svg) right no-repeat;
  opacity: 2;
}

.plan__img img{
  padding-top: 140px;
  max-width: 100%;
  margin-right: -120px;
}

// FEATURES


.features {
  background: url('../img/features.svg') center no-repeat;
  background-size: cover;
  max-width: 1920px;
  max-height: 885px;
}
.features__wrapper {
  text-align: center;
}
.features__top-suptittle {
  padding: 171px 0px 20px 0px;
}
.features__top-tittle{
  font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 30px;
color: #3D4F9F;
padding-bottom: 92px;
}
.features__body-column-img{
  padding-bottom: 33px;
}
.features__body {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin: 0px 160px;
  padding-bottom: 92px;
}
.features__body-column {
  max-width: 140px;
  transition: all 0.2s ease;
}

.features__body-column:hover {
  transform: scale(1.2)
}
.features__body-column-tittle {
  font-family: 'OpenSans_SemiCondensed';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 25px;
color: #4074F8;
padding-bottom: 25px;
}
.features__body-column-text {
  font-family: 'OpenSans_SemiCondensed';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 19px;
color: #ADB3CB;

}
.features__buttons {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 171px;

}
.features__buttons-red {
  padding: 13px 15px 13px 16px;
  background: #FFD7D7;
  border-radius: 3px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #D43F3F;
  margin-right: 47px;
  transition: all .3s ease;
}

.features__buttons-red:hover{
  background: #ff9b9b;
  color: #b13535;
}

.features__buttons-blue {
  padding: 13px 15px 13px 16px;
  background: #D2E1FF;
  border-radius: 3px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #3A79FF;
  margin-left: 47px;
  transition: all .3s ease;
}

.features__buttons-blue:hover{
  background: #7fa9fc;
  color: #2b59bd;
}

.features__buttons-blue:active{
  background: #4684ff;
  color: #0f2044;
}

.features__buttons-red:active{
  background: #fc4545;
  color: #722424;
}

// STATS

.stats {
  background: url(../img/stats.svg) center no-repeat;
  background-size: cover;
  max-width: 1920px;
  max-height: 700px;
  
}
.stats__wrapper {
  justify-content: space-around;
  display: flex;
  margin: 0px 100px;
}
.stats__column-img{
  padding: 66px 0px 24px;
}
.stats__column-img-2{
  padding: 70px 0px 24px;
}
.stats__column-number {
  font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 83px;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.stats__column-text {
  font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.stats__column-number-2 {
  font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 83px;
letter-spacing: 0.03em;
color: #5E80FF;
}
.stats__column-text-2 {
  font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
letter-spacing: 0.03em;
color: #5E80FF;
}
.stats__column{
  max-width: 260px;
  text-align: right;
  padding-bottom: 66px;
}
.stats__column-2{
  max-width: 260px;
  text-align: left;
}


// BLOG

.blog {
  background: #F5F8FF;
  padding-bottom: 105px;
}
.blog__wrapper{
  max-width: 958px;
  margin: 0 auto;
}

.blog-swiper{
  padding-bottom: 120px;
  overflow: hidden;
}

.blog-slider-wrapper{
  position: relative;
}

.blog__suptittle {
  text-align: center;
  padding: 104px 0px 20px;
}
.blog__tittle {
  font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 30px;
color: #3D4F9F;
text-align: center;
padding-bottom: 92px;
}
.blog__body {
  display: flex;
  max-width: 100%;
  justify-content: center;
  background: #FFFFFF;
border: 1px solid #D8E3FE;
box-shadow: 0px 15px 50px #EFF4FF;
position: relative;
}

.blog__img {
  margin-left: -30px
}

.blog__img img{
  width: 100%;
  max-width:507px;
  height: auto;
}

.blog__text-tittle {
  font-family: 'Quicksand';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 45px;
color: #3D4F9F;
padding: 54px 0px 32px;
}
.blog__text-text {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 27px;
letter-spacing: 0.03em;
color: #8D96BD;
max-width: 402px;
padding-bottom: 52px;
}

.blog__text-buttons{
  margin-bottom: 20px;
}

.blog__text-button1{
  font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 16px;
color: #3A79FF;
padding: 13px 15px 13px 16px;
background: #D2E1FF;
border-radius: 2px;
margin-right: 7px ;
transition: all 0.3s ease;
}
.blog__text-button1:hover{
    background: #97baff;
    color: #2e5fca;
  }
.blog__text-button1:active{
    background: #667dac;
    color: #1f428f;
  }
.blog__text-button2 {
  font-family: 'Quicksand';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 16px;
color: #A6B6DA;
padding: 15px 13px;
background: #FFFFFF;
border-radius: 2px;
transition: all 0.3s ease;
}
.blog__text-button2:hover{
    color: #768097;
    background: #bbb9b9;
  }
  .blog__text-button2:active{
    color: #565c6b;
    background: #bbb9b9;
  }

  .blog-swiper-button-next::after,
  .blog-swiper-button-prev::after{
    display: none;
  }

  .blog-swiper-button-next,
  .blog-swiper-button-prev{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 60%;
    cursor: pointer;
  }

  .blog-swiper-button-next{
    background: url(../img/arrow-right.svg) no-repeat;
    right: 0;
  }

  .blog-swiper-button-prev{
    background: url(../img/arrow-left.svg) no-repeat;
    left: 0;
  }

  // QUOTES

  .right__container--quotes {
    margin-left: auto;
    max-width: 1100px;
    padding: 0px 15px;
  }

  .quotes{
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
  }

  .quotes__wrapper {
    display: flex;
    min-width: 0;
  }

  .quotes__slider{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .quotes__body{
    max-width: 333px;
    padding-right: 50px;
  }

  .quotes__body-suptittle {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 12px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #3D4F9F;
padding: 146px 0px 31px 0px;
  }
  .quotes__body-tittle {
    font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 45px;
color: #3D4F9F;
padding-bottom: 20px;
  }
  .quotes__body-text {
    font-family: 'OpenSans_SemiCondensed';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 23px;
letter-spacing: 0.03em;
color: #A4ABC8;
padding-bottom: 183px;
  }

  .quotes__slider-slide {
    max-width: 430px;
    max-height: 270px;
    border: 1px solid #D8E3FE;
    box-shadow: 0px 5px 50px #F3F5FA;
  }

  .quotes__slider-column {
    background: #FFFFFF;
    position: relative;
  }


  .quotes__slider-icon{
    position: absolute;
    left: 43%;
    top: 85%;
  }
  

  .quotes__slider-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #676F95;
    padding: 41px 71px 53px 69px;
    position: relative;
  }


  .swiper-slide{
    opacity: 0.5;
    transition: 0.5s ;
  }

  .swiper-slide-active{
    opacity: 1;
    transition: 0.5s;
  }


  .quotes-buttons-pagination{
    position: absolute;
    bottom: 10%;
    left: 26%;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
  }

  .quotes__slider-block {
    position: relative;
  }



  // FAQ

  .faq__top {
    text-align: center;
  }
  .faq__suptittle{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 12px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #3D4F9F;
padding: 176px 0px 20px;
  }
  .faq__tittle {
    font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 30px;
color: #3D4F9F;
padding-bottom: 70px;
  }
  .faq__accordion {
    margin: 0 auto;
    max-width: 743px;
    overflow: hidden;
    
  }
  .faq__block-top {
    display: flex;
  }

.accordion__tittle{
padding-left: 30px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 19px;
letter-spacing: 0.03em;
color: #8E96B7;
transition: all 0.2s ease-out;
position: relative;
padding-bottom: 20px;
background-color: white;
  }

.accordion__tittle::before,
.accordion__tittle::after{
    content: '';
    width: 12px;
    height: 3px;
    background-color: #8E96B7;
    position: absolute;
    top: 8px;
    border-radius: 2px;
    transition: all 0.2s ease-out;
  }

.accordion__tittle::before{
    transform: rotate(40deg);
    left: 0;
  }

.accordion__tittle::after{
    transform: rotate(-40deg);
    left: 7px;
  }


.accordion__tittle:hover::before,
.accordion__tittle:hover::after{
    background-color: #495274;
  }

.accordion__tittle:hover{
    color: #495274;
  }

.accordion__tittle.open{
    color: #495274;
  }

.accordion__tittle.open::before,
.accordion__tittle.open::after{
    background-color: #495274;
  }

.accordion__tittle.open::before{
    transform: rotate(-40deg);
  }

.accordion__tittle.open::after{
    transform: rotate(40deg);
  }

  .accordion__control{
    margin-bottom: 20px;
  }

  .faq__line {
    padding-bottom: 19px;
  }
  .faq__line:last-child {
    padding-bottom: 150px;
  }

  .accordion__content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 20px;
    will-change: max-height;
    transition:  all 0.4s ease-out;
    box-sizing: content-box;
    display: flex;
    max-width: 743px;
  }

  .accordion__content.open {
    opacity: 1;
    padding: 0px 20px 30px;
    max-height: var(--height, 0);
  }


  .faq__block-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.1em;
    color: #8D96BD;
    max-width: 491px;
    padding: 0px 62px 0px 47px;
  }
  .faq__block-button {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #7382A3;
    background: #E8ECF4;
    border-radius: 2px;
    padding: 13px 14px 13px 15px;
    max-height: 43px;
    margin: 21px 15px 0px 0px;
  }

  .faq__block-button:hover{
    color: #5d6a85;
    background: #ced3da;
  }

  .faq__block-button:active{
    color: #515c74;
    background: #a7abb0;
  }

  // START

  .start {
    background: url(../img/start-back.svg) center no-repeat;
    background-size: cover;
    max-width: 1920px;
    max-height: 700px;
  }
  .start__wrapper {
    margin: 0 auto;
    text-align: center;
    max-width: 700px;
  }
  .start__suptittle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 91px 0px 19px;
  }
  .start__tittle {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
    padding-bottom: 28px;
  }
  .start__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding-bottom: 52px;
  }
  .start__buttons {
    padding-bottom: 92px;
  }
  .start__button1 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #565F82;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px #6480E8;
    padding: 13px 17px;
    border-radius: 2px;
  }
  .start__button1:hover {
    color: #383e57;
    background: #b3c0fc;
  }
  .start__button1:active {
    color: #1c1f2c;
    background: #94a6f5;
  }
  .start__button2 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #C7D3FF;
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
    border: 1px solid #C7D3FF;
    padding: 12px 9px;
    border-radius: 2px;
  }
  .start__button2:hover {    
    background: #4c72fc;
    color: #fdfdfd;
  }
  .start__button2:active {
    background: #2353ff;
    color: #cfcccc;
  }

  // NEWS

  .news {
    background: #FCFDFF;
    border: 1px solid #D8E3FE;
  }
  .news__wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 887px;
    padding: 118px 0px 122px;
  }
  .news__body {
    padding-right: 100px;
  }
  .news__tittle {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #3D4F9F;
    padding-bottom:18px;

  }
  .news__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #8D96BD;
    max-width: 310px;
  }
  .news__input {
    background: #EFEFF7;
    border-radius: 5px;
    padding: 21px 33px 21px 23px;
    margin-right: 14px;
  }
  input::placeholder{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #7A85AD;
  }
  .news__button {
    background: #4D6CE1;
    box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
    border-radius: 5px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 22px 62px 20px;
  }

  .news__button:hover{
    background: #264bce;
    color: #fffdfd
  }
  .news__button:active{
    background: #1c389b;
    color: #bbbbbb
  }

  // FOOTER
  
  .footer__menu {
    display: flex;
    padding-top: 12px;
    align-items: center;
    justify-content: space-between;
  }

  .footer{
    padding: 93px 0px;
  }
  .footer__copyright{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #AEB8D0;
    padding: 18px 0px 0px 100px ;
  }


  /* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

  // HEADER

  .header__list-point{
    padding-left: 25px;
  }
  .header__logo {
    padding-right: 33px;
  }
  .header__social {
    a {
    padding-right: 22px;
    }
  }
  .footer__copyright{
    padding-left: 60px;
  }

  // BRANDS

  .brands-wrapper {
    svg{
      margin-left: 35px;
    }
  }

  //FEATURES

  .features__body-column {
    max-width: 300px;
    padding-right: 30px;
    margin: 0px 20px;
  }
  .features__body-column:last-child {
    padding-right: 0px;
  }

  //  STATS
  .stats__column {
    padding-right: 40px;
  }
  .stats__column-2 {
    padding-left: 40px;
  }

  // BLOG
  .blog__img{
    margin: 0;
    text-align: center;
  }
  .blog__text-buttons{
    padding-bottom: 100px;
  }

  .blog__text-button2{
    margin-top: 20px;
  }

  .blog__text-tittle{
    text-align: center;
    padding-top: 0;
  }
  .blog__text{
    max-width: 300px;
    margin: 0 auto;
  }

  .blog__body{
    display: block;
  }

  .blog__wrapper{
    max-width: 590px;
  }
  // QUOTES

  .quotes__slider-column {
    max-width: 500px;
  }
  .quotes__slider-text {
    padding: 40px 20px 40px 30px;
  }

  .quotes-buttons-pagination{
    top: 82%;
    left: 40%;
  }


  // NEWS

  .news__wrapper {
    padding: 118px 50px 122px;
  }

  .news__button {
    margin-top: 30px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  // HEADER 
  .header__social-button{
    display: none;
  }
  .header__logo{
    display: none;
  }

  .header__burger-icon{
    z-index: 5;
    display: block;
    position:  relative;
    left: 85%;
    top: 10%;
    width: 30px;
    height: 27px;
    cursor: pointer;
    padding: 20px;
    margin: 10px;
  }

  .header__burger-icon._active span{
    transform: scale(0) translate(0px, -50%)
  }

  .header__burger-icon._active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .header__burger-icon._active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  
  .header__burger-icon span,
  .header__burger-icon::before,
  .header__burger-icon::after{
    right: 0;
    position: absolute;
    height: 12%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #697CA6;
    border-radius: 2px;
  }
  .header__burger-icon::before,
  .header__burger-icon::after{
    content: '';
  }
  
  .header__burger-icon::before{
    top: 0;
  }

  .header__burger-icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%)
  };

  .header__burger-icon::after{
    bottom: 0;
  }


.header__burger-menu{
  z-index: 4;
  height: 100%;
  width: 100%;
  right: -100%;
  top: 0;
  display: block;
  background: white;
  position: fixed;
  transition: all 0.3s ease 0s;
  }

  .header__burger-menu._active{
    right: 0;
  }

  .header__list{
    text-align: center;
    display: block;
    margin: 0 auto;
    padding-bottom: 280px;
  }
  .header__list-point{
    padding: 0;
    font-size: 30px;
    line-height: 80px;
  }
  .header__social{
    display: block;
    text-align: center;
  }
  .header__social a:nth-child(4){
    padding-right: 0px;
  }
  
  .header__social-point img{
    width: 60px;
    height: 60px;
  }
  
    // BRANDS

    .brands-wrapper {
      padding-top: 27px ;
      svg{
        margin-left: 15px;
        margin-top: 35px;
      }
    }

    // PLAN 

    .plan__wrapper{
      display: block;
    }

    .plan__suptittle {
      padding-top: 80px;
    }

    .plan__img img {
      padding: 0;
    }

    .plan__buttons {
      padding-bottom: 40px;
    }

      //FEATURES

  .features__body-column {
    max-width: 400px;
    padding-right: 40px;
  }
  .features__body-column:last-child {
    padding-right: 0px;
  }

  .features__top-suptittle{
    padding-top: 60px;
  }

    //  STATS
    .stats__column {
      padding-right: 40px;
    }
    .stats__column-2 {
      padding-left: 40px;
    }

    // BLOG 
    .blog__body {
      display: block;
    }
    .blog__text{
      padding: 0px 55px 50px;
    }
    .blog__text-tittle{
      padding-top: 0px;
    }

    .blog{
      padding-bottom: 60px;
    }

    // QUOTES

    .quotes__wrapper{
      display: block;
    }

    .quotes__body{
      padding: 0;
      text-align: center;
      margin: 0 auto;
    }

    .quotes__body-suptittle{
      padding-top: 40px;
    }

    .quotes__body-text{
      padding-bottom: 0;
    }

    .quotes__slider{
      padding: 60px 0px 80px;
    }

    .quotes__slider-text{
      padding: 25px 25px 50px;
    }

    .quotes-buttons-pagination{
      bottom: 5%;
      left: 41%;
    }

    // FAQ 

    .faq__suptittle{
      padding-top: 60px;
    }

    .faq__line:last-child{
      padding-bottom: 60px;
    }

    .accordion__content {
      display: block;
    }

    
    .accordion__content.open{
      padding-left: 62px;
    }

    .faq__block-text {
      padding-left: 0;
    }

    .accordion__control{
      text-align: left;
      background-color: white;
    }

    // NEWS

    .news__wrapper{
      padding: 60px 0px 60px;
      display: block;
    }

    .news__buttons{
      padding-top: 30px;
    }

    // FOOTER

    .footer{
      padding: 0px;
    }

    .footer__copyright{
      padding: 30px 0px 30px ;
      text-align: center;
    }

    // FOOTER 

    .footer__menu{
      display: none;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

  // FEATURES 

  .features__body{
  width: 100%;
  padding-bottom: 60px;
  margin: 0px;
  flex-wrap: wrap;
}
.features{
  margin-bottom: 400px;
}
.features__body-column{
  padding: 0px;
  max-width: 300px;
}
.features__body-column-text{
  padding-bottom: 40px;
}
// QUOTES 

.quotes-buttons-pagination{
  bottom: 5%;
  left: 30%;
}
  //NEWS

  .news__input{
    margin-bottom: 20px;
  }

}
/* Iphone 5 */
@media (max-width: 320px) {

  // INTRO 

  .intro__play{
    padding: 0px;
  }

  // BRANDS 

  .brands-wrapper {
    padding-top: 0px ;
    svg{
      margin-left: 15px;
      margin-top: 35px;
    }
  }

  .brands-wrapper svg:nth-child(3){
    margin-left: 0px;
  }

  .brands-wrapper svg:last-child{
    margin-left: 0px;
  }

  // PLAN 

  .plan__button.white{
    margin-top: 20px;
  }


  // FAQ

  .faq__block-text{
    padding-right: 0px;
  }

  .accordion__content.open {
    padding-left: 10px;
}

  // BLOG 
  .blog__text-buttons{
    text-align: center;
  }

  .blog__text-button2{
    margin-top: 20px;
  }

  //QUOTES 

  .quotes__body{
    max-width: 280px;
  }
  .quotes__slider-column{
    max-height: 260px;
    max-width: 300px;
  }
  .quotes__slider-icon{
    bottom: -15%;
    left: 38%;
  }

  // FUTURES
  .features__body-column-text{
    max-width: 250px;
  }

}